{%- comment -%}
  Main Menu Additional
    Additional menu for desktop devices. Uses same styling as the desktop menu
    without the additional levels and mobile menu data attributes.

  Version:
    1.0.0 2021/04/09
{%- endcomment -%}

{%- liquid
  if template.name == 'page'
    assign mf = page.metafields.hero-banner
  elsif template.name == 'index'
    assign mf = shop.metafields.hero-banner
  endif

  if mf
    assign isDarkMode = mf['toggle_dark_mode']
  endif

-%}

{%- if menu.links.size > 0 -%}
  <nav class="c-main-menu {% unless isDarkMode -%}has-inverted-header{%- endunless %} is-additional">
    <div class="c-main-menu__list-container">
      <ul class="c-main-menu__list is-level-1">

        {%- for link in menu.links -%}
          <li class="c-main-menu__item">
            <a
              href="{{ link.url }}"
              title="{{ link.title | escape }}"
              class="c-main-menu__link"
            >
              <span class="c-main-menu__link-inner">
                {{- link.title | escape -}}
              </span>
            </a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
  </nav>
{%- endif -%}