<div class="reviews-page-wrapper">
  <div class="c-page__inner">
    <header class="PageHeader">
      <div class="c-page__header">
        <div class="c-page__header-inner">
          <h1 class="c-page__header-heading">{{ page.title }}</h1>
        </div>
      </div>
    </header>

    <div class="orc-allReviewsCollections">
      <div id="orc-collection-control" style="display: none">
        <div id="orc-collection-controls-label" class="orc-collectionControlsLabel">Select a product range</div>
        <div class="orc-collectionControls" role="radiogroup" aria-labelledby="orc-collection-controls-label">
          <div class="orc-collectionControls-item">
            <input
              id="orc-reviews-control-0"
              class="orc-collectionControls-item-input orc-collectionControls-item-input--checked js-orc-collectionRadio"
              type="radio"
              checked
              value=""
              name="orc-reviews-collection-control"
            >
            <label for="orc-reviews-control-0" class="orc-collectionControls-item-label">
              <span class="orc-collectionControls-item-label-heading"> All </span>
              <!-- OPTIONAL ADD AN IMAGE FOR THE GROUP/PRODUCT - IF NOT NEEDED, DELETE THE SPAN TAG BELOW -->
              <span
                class="orc-collectionControls-item-label-background"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0588/1895/3397/t/236/assets/okendo-reviews-collection-thumbnail-9699fb96-355e-4502-bc05-22eccde4ad23.jpg?v=1653494796')"
              ></span>
            </label>
          </div>
          <div class="orc-collectionControls-item">
            <input
              id="orc-reviews-control-1"
              class="orc-collectionControls-item-input js-orc-collectionRadio"
              type="radio"
              value="682c262b-6514-4de2-b19e-6014fff434d8"
              name="orc-reviews-collection-control"
            >
            <label for="orc-reviews-control-1" class="orc-collectionControls-item-label">
              <span class="orc-collectionControls-item-label-heading"> Clearing Serum </span>
              <!-- OPTIONAL ADD AN IMAGE FOR THE GROUP/PRODUCT - IF NOT NEEDED, DELETE THE SPAN TAG BELOW -->
              <span
                class="orc-collectionControls-item-label-background"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0588/1895/3397/t/236/assets/okendo-reviews-collection-thumbnail-682c262b-6514-4de2-b19e-6014fff434d8.jpg?v=1653494797')"
              ></span>
            </label>
          </div>
          <div class="orc-collectionControls-item">
            <input
              id="orc-reviews-control-2"
              class="orc-collectionControls-item-input js-orc-collectionRadio"
              type="radio"
              value="d551025d-3054-4fc4-9fae-459fae0538b0"
              name="orc-reviews-collection-control"
            >
            <label for="orc-reviews-control-2" class="orc-collectionControls-item-label">
              <span class="orc-collectionControls-item-label-heading"> Spot Treatment </span>
              <!-- OPTIONAL ADD AN IMAGE FOR THE GROUP/PRODUCT - IF NOT NEEDED, DELETE THE SPAN TAG BELOW -->
              <span
                class="orc-collectionControls-item-label-background"
                style="background-image: url('https://cdn.shopify.com/s/files/1/0588/1895/3397/t/236/assets/okendo-reviews-collection-thumbnail-d551025d-3054-4fc4-9fae-459fae0538b0.jpg?v=1653494798')"
              ></span>
            </label>
          </div>
        </div>
      <p class="okeReviews-drp-text">No filters, fake models or false promises. Just 100% honest and authentic reviews from real people like yourselves who have either bought or been gifted our products to try.</p>
      </div>
      <!--
        SET THE data-oke-reivews-group-id to the GUID you wish to default the widget to when the page loads (usually the first radio value in the list above
      -->
      <div
        id="orc-widget-snippet"
        class="drp-okendo-reviews"
        data-oke-widget
        data-oke-reviews-group-id=""
      ></div>
    </div>
  </div>
</div>
